/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    /* border: 1px solid blue; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
	font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Edit below this. Above code for reseting */

body {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
	height: 100vh;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1.7fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: #f2dfcc;
}

.header .upper-row {
    display: grid;
    align-items: center;
    grid-template-columns: 0.15fr 5fr 0.15fr 0.15fr 1fr;
    margin: 10px;
    gap: 8px;
    margin-left: 15px;
    margin-right: 20px;
}

.upper-row input {
    border: 1px solid #525356;
    border-radius: 50px;
    font-size: 16px;
    padding: 5px 10px;
    background: #f3f8f5;
    color: #252526;
}

.upper-row div {
	width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}

.upper-row .username {
	font-size: 18px;
    font-weight: bold;
}

.search,
.notifications-active,
.logo,
.username,
.btn {
	cursor: pointer;
}

.header .lower-row {
    display: grid;
    grid-template-columns: 0.4fr 4fr 1fr 1fr 1fr;
    align-items: center;
    gap: 8px;
    margin-left: 15px;
    margin-right: 30px;
}

.lower-row div:first-child {
	width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}

.lower-row .greeting {
	display: grid;
}


.lower-row .greeting span {
	font-size: 20px;
	font-weight: bold;
}

.lower-row .greeting span:first-child {
	font-size: 16px;
	font-weight: 400;
}

.lower-row .greeting span:nth-child(2) {
    color: #766045;
}

.lower-row .btn {
    width: 120px;
    height: 30px;
    border: 1px solid none;
    border: 1px solid #741212;
    border-radius: 20px;
    background: #741212;
    color: #f6fafa;
    margin: 0px 6px;
}

.lower-row .btn:hover {
    box-shadow: 1px 1px 10px 0px #741212;
}
.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 60%;
    background: #741212;
}

.sidebar ul {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 8px;
    gap: 7px;
}

.sidebar ul li {
    color: #f2dfcc;
    display: grid;
    grid-template-columns: 0fr 1fr;
    align-items: center;
}

.sidebar ul li:nth-child(2){
    color: #bd6b34;
}
.sidebar ul li:not(li:first-child):hover {
	color: white;
	cursor: pointer;
}
.sidebar ul li:first-child {
	font-size: 28px;
}

.sidebar ul li:first-child i {
	font-size: 30px;
}

.sidebar ul li i {
    margin-right: 6px;
}

.sidebar ul li:not(li:first-child) {
	margin-left: 8px;
}

.main {
    background: #e2c5a9;
}

.main .cards {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 2 / 3;
}
.cards .main-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 21px repeat(3, 0.3fr);
    gap: 20px;
    padding: 0px 15px;
}

.main-card span {
    grid-column: 1 / 3;
    font-size: 20px;
    font-weight: 900;
}
.main-card .items {
    border-radius: 8px;
    border: 1px solid #f2dfcc;
    padding: 15px;
    border-left: 9px solid #741212;
    background: #f2dfcc;
    box-shadow: 10px 10px 18px -12px #78726c;
}

.main-card .items h3 {
    font-weight: 900;
    font-size: 20px;
    margin: 1px 0px;
}

.main-card .items p {
    font-size: 16px;
    margin: 11px 0px;
    color: #554532;
}

.interaction-btns {
    display: flex;
    justify-content: end;
    align-items: center;
}

.interaction-btns img {
    width: 22px;
    height: auto;
    margin: 2px 5px;
}

.cards .side {
	display: grid;
    padding-right: 6px;
    gap: 8px;
}

.side .upper-side,
.side .lower-side {
    display: grid;
    grid-template-rows: 21px 1fr;
    font-size: 20px;
    font-weight: 900;
    gap: 20px;
}

.announcement-card {
    display: grid;
    grid-template-rows: 1fr 20px 1fr 20px 1fr;
    padding: 10px;
    border: 1px solid #f2dfcc;
    background: #f2dfcc;
    border-radius: 8px;
    box-shadow: 10px 10px 18px -12px #78726c;
}

.announcement-data span {
    font-size: 15px;
    font-weight: 600;
}

.announcement-data p {
    font-size: 12px;
    font-weight: 400;
    color: #554532;
    margin: 5px 0px;
}

.announcement-card hr {
    margin: 12px 0px;
}

.lower-side .trending-card {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 10px;
    border: 1px solid #f2dfcc;
    background: #f2dfcc;
    border-radius: 8px;
    box-shadow: 10px 10px 18px -12px #78726c;
    margin-top: 8px;
}

.trending-data {
    display: grid;
    grid-template-columns: 40px 1fr;
    margin: 3px 0px;
}

.trending-data .logo {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}

.trending-data .bio {
    display: flex;
    flex-direction: column;
    margin-left: 7px;   
}

.bio .user-name {
    font-size: 14px;
    font-weight: 600;
}

.bio .user-bio {
    font-size: 12px;
    font-weight: 400;
    color: #554532;
    margin: 4px 0px;
}

.main-card span,
.upper-side span,
.lower-side span {
    margin: 10px 0px;
}